body {
  margin: 0;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

#hud {
  position: fixed;
  top: 20px;
  left: 20px;

  color: cyan;
  font-family: monospace;
  font-size: 14px;

  background: rgba(0,0,0,0.5);
  padding: 12px;
  border: 1px solid cyan;
  border-radius: 8px;

  z-index: 100;
}

.starLabel {
  color: white;
  font-size: 13px;
  font-family: monospace;
  text-shadow:
    0 0 8px cyan,
    0 0 8px cyan;
  
  user-select: none;
  white-space: nowrap;
}